/* ######### Marker List Vertical Menu ######### */

.markermenu{
width: 175px; /*width of side bar menu*/
clear: left;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/
margin: 0px 0px 0px 620px;
}

.markermenu ul{
list-style-type: none;
margin: 20px 0px 50px 0px;
padding: 0;
border: 1px solid #ffffff;
}

.markermenu ul li a{
background: #ffffff url(TreeOutline.png) no-repeat 3px center; /*light gray background*/
font: bold 15px "Georgia, Times New Roman, Times, serif";
color: #6a5342;
display: block;
width: auto;
padding: 5px 0;
padding-left: 20px;
text-decoration: none;
border-bottom: 1px solid #6a5342;
}

* html .markermenu ul li a{ /*IE6 hack*/
width: 155px;
}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #6a5342;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
	color: white;
	background-color: #6a5342;
	font: bold 15px "Georgia, Times New Roman, Times, serif";
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background: white;
}

.blackwhite li a:hover{
	background: #6a5342;
	color: white;
	font: bold 15px "Georgia, Times New Roman, Times, serif";
}
